---
interface Props {
  title: string;
  description: string;
  image: string;
  path: string;
}

const { title, description, image, path } = Astro.props;
---

<section
  class="transition ease-in-out delay-75 hover:-translate-y-1 hover:scale-105"
>
  <a href={`/news${path}`}>
    <div class="flex flex-col">
      <img class="rounded-md w-[300px]" src={image} />
      <div class="flex flex-col gap-1 mt-2">
        <h2 class="font-bold uppercase">
          {title}
        </h2>
        <p class="text-neutral-300 text-sm">
          {description}
        </p>
      </div>
    </div>
  </a>
</section>
