---
const LINKS = [
  { name: "Matches", path: "/matches" },
  { name: "Top Players", path: "/top-players" },
  { name: "Layouts", path: "/layouts" },
];

import { getSession } from "auth-astro/server";
const session = await getSession(Astro.request);
---

<header class="py-5 bg-neutral-950 fixed top-0 w-full">
  <div class="max-w-6xl mx-auto px-10 flex items-center justify-between">
    <div class="flex items-center gap-10">
      <a href="/">
        <img src="/xdnews_logo_dark.png" alt="Logo" />
      </a>
      <nav>
        <ul class="flex items-center gap-5">
          {
            LINKS.map((link) => (
              <li>
                <a href={link.path}>
                  <p class="font-medium text-neutral-300 hover:text-white">
                    {link.name}
                  </p>
                </a>
              </li>
            ))
          }
        </ul>
      </nav>
    </div>
    <div class="flex items-center gap-5">
      <input
        class="rounded py-1 px-3 w-[300px] bg-neutral-600"
        autocomplete="off"
        type="text"
        name="search"
        placeholder="Search..."
      />
      {
        session ? (
          <div>
            <img
              class="rounded-full w-[34px]"
              src={session.user?.image}
              alt="User img"
            />
          </div>
        ) : (
          <a
            href="/login"
            class="border border-neutral-600 py-1 px-3 rounded hover:bg-neutral-900/80"
          >
            Sign in
          </a>
        )
      }
    </div>
  </div>
</header>
