---
import Card from "./Card.astro";
import MainCard from "./MainCard.astro";
---

<div class="flex gap-10">
  <MainCard
    title="Everything ready for the launch of XDefiant"
    description={`The XDefiant preseason will be released this May 21st, 2024 at 10AM PT/1PM ET. A strong hype has been created for the long-awaited release of XDefiant and fans of the video game can't wait to play it...`}
    path="/xdefiant-preseason"
    image="/preseason.png"
  />
  <div class="border border-neutral-800"></div>
  <div class="flex flex-col gap-10">
    <Card
      title="All-Star Series begins"
      description={`The All-Star Series is gearing up to launch on May 21, as team @TylerTeeP faces off against team @DKarma to compete in an XDefiant competition.`}
      path="/all-star-series"
      image="/all-star-xd.jpg"
    />
    <Card
      title="What is the best class in xdefiant?"
      description={`We have collected information from the best XDefiant players who have talked about their experience with each of the factions, thanks to that we were able to make a tier list of the best factions.`}
      path="/test"
      image="/best-class.png"
    />
  </div>
</div>
